body{
    background: white;
}

main{
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 1em;
}

h2{
    font-size: 1.4rem;
}

aside{
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.groepsfoto{
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
}

.groepsles, .datetime {
    margin-top: 2em;
    padiding: 2em 0;
}

select {
    width: 100%;
    padding: 1em;
    background: #DDDDDD;
    border: 1.5px solid #666666;
    border-radius: 10px;
}

option {
    background: #DDDDDD;
}

.bevestigen input{
    margin: 3em auto;
    padding: 1em;
    background: #F6FF7E;
    border: none;
    border-radius: 10px;
    width: 100%;
}
