body{
    background: white;
}

main{
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 1em;
}

h2{
    font-size: 1.4rem;
    margin-bottom: 1em;
}

aside{
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.groepsfoto{
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
}

label, input{
    margin-bottom: 2em;
}

input{
    padding: 1em;
    background: #EEE;
}

.bevestigen input{
    margin: 3em auto;
    width: 50%;
    background: #F6FF7E;
    border-radius: 10px;
}

aside a{
    text-align: center;
    color: #2385A3;
    text-decoration: underline;
    padding-bottom: 1em;
}

.groepsles{margin-bottom: 2em;}

select {
    font-size: 1rem;
    padding: 1em;
    background: #DDDDDD;
    border: 1.5px solid #666666;
    border-radius: 10px;
    margin-top: 1.4em;
    width: 100%;
}
