<body>
<header>
    <ul class="list-unstyled">
        <li>
            <img src="img/logow.jpg" alt="">
            <h1>Movenergy</h1>
        </li>
        <li><a href="#">Lesconcepten</a>-<a href="#">Over Ons</a>-<a href="#">Planning</a>-<a href="#">Contact</a></li>
    </ul>
</header>
<main>
    <section class="lesconcepten">
        <section class="uitleg">
            <h2>Lesconcepten</h2>
            <p>Ondek onze 7 sportconcepten en schijf je vandaag <br>nog in voor een gratis proefles</p>
            <a href="#">Registreer</a>
        </section><!--uitleg--------------------------------------------------------------------------------->
        <section class="slider">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <div class="beschrijving">
                        <a href="#">BBB high intensity</a>
                        <a href="#">Inschrijven</a>
                    </div>
                </div>
                <div class="mySlides fade">
                    <div class="beschrijving">
                        <a href="#">Brooklyn Fit Boxing</a>
                        <a href="#">Inschrijven</a>
                    </div>
                </div>
                <div class="mySlides fade">
                    <div class="beschrijving">
                        <a href="#">Step Burn</a>
                        <a href="#">Inschrijven</a>
                    </div>
                </div>
                <div class="mySlides fade">
                    <div class="beschrijving">
                        <a href="#">Urban Running</a>
                        <a href="#">Inschrijven</a>
                    </div>
                </div>
                <div class="mySlides fade">
                    <div class="beschrijving">
                        <a href="#">Yoga & Balance</a>
                        <a href="#">Inschrijven</a>
                    </div>
                </div>
                <div class="mySlides fade">
                    <div class="beschrijving">
                        <a href="#">Cycling</a>
                        <a href="#">Inschrijven</a>
                    </div>
                </div>
                <div class="mySlides fade">
                    <div class="beschrijving">
                        <a href="#">Urban Cross Workotuts</a>
                        <a href="#">Inschrijven</a>
                    </div>
                </div>
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
        </section><!--Slider--------------------------------------------------------------------------------->
    </section><!--Lesconcepten--------------------------------------------------------------------------------->
    <section class="overons">
        <section></section>
        <section>
            <h2>Over ons</h2>
            <p>Na 20 jaar Movenergy brengen we met Movenergy een modern en urban concept. Als we onze leden mogen geloven slaagden we erin om een ijzersterke combo neer te zetten: pure fun en een full service in één club. Full service betekent bij ons een totaal aanbod van 7 sportconcepten, maar ook voluit gaan voor de belevenis van onze leden. Vandaag is onze club een meetingpoint. Naast solo sporten kunnen leden deelnemen aan events en groepstrainingen, maar ook relaxen in de sauna of in de bar. Our duty? Onze community op een originele manier blijven inspireren en motiveren.</p>
            <p>Klaar om er een lap op te geven? Let’s have fun!</p>
        </section>
    </section><!--Overons--------------------------------------------------------------------------------->
    <section class="contact">
        <article class="">
            <h2>Contact</h2>
            <ul class="list-unstyled">
                <li>Kipdorp 49</li>
                <li>2000 Antwerpen</li>
                <li>info@movenergy.be</li>
                <li>03/322.62.77</li>
            </ul>
        </article>
        <aside class="">
        </aside>

    </section>
</main>



</body>
</html>
