<main>
    <aside>
        <h2>Schrijf je in</h2>
        <form id="inschrijving_form" action="lib/inschrijving.php" method="post">
            <input type="hidden" id="formname" name="formname" value="inschrijving_form">
            <input type="hidden" id="tablename" name="tablename" value="deelnemers">
            <input type="hidden" id="pkey" name="pkey" value="dln_id">

            <div class="groepsles">
                <label for="les_datumtijd">Datum</label>
            </div>
            <div class="selectles">
                <select name="les_datumtijd" form="inschrijving_form" id="les_datumtijd">

