<main>
    <aside>
        <h2>Login</h2>
        <form action="lib/login.php" method="post">

            <input type="hidden" id="formname" name="formname" value="login_form">

            <label for="lid_login" class="col-form-label">E-mail:</label>
            <input type="email" class="form-control" id="lid_login" name="lid_login" value="">

            <label for="lid_password">Wachtwoord:</label>
            <input type="password" class="form-control" id="lid_password" name="lid_password" value="">
            <div class="bevestigen">
                <input name="loginbutton" type="submit" value="Log in">
            </div>


        </form>

        <a>wachtwoord vergeten</a>
        <a>problemen bij inloggen</a>
        <a href="register.php">ik ben nog geen lid</a>
    </aside>

    <img class="groepsfoto" src="img/groepsfoto.jpg" alt="">
</main>