<nav>
  <ul>
    <li><a href="home.php"><img src="img/logo.jpg" alt=""></a></li>
    <li><a href="sub.php?bbb">BBB</a></li>
    <li><a href="sub.php?bfb">BFB</a></li>
    <li><a href="sub.php?stepburn">Step burn</a></li>
    <li><a href="sub.php?urbanrunning">Urban Running</a></li>
    <li><a href="sub.php?yogabalance">Yoga & Balance</a></li>
    <li><a href="sub.php?cycling">Cycling</a></li>
    <li><a href="sub.php?ucw">UCW</a></li>
    <li><a href="login.php">Login</a></li>
    <li><a href="register.php">Registreer</a></li>
  </ul>
</nav>
