<main>
  <h2>Registreer</h2>

  <form action="lib/register.php" method="post">
      <input type="hidden" id="formname" name="formname" value="registration_form">
      <input type="hidden" id="tablename" name="tablename" value="lid">
      <input type="hidden" id="pkey" name="pkey" value="usr_id">
      <div class="naam">
        <label for="lid_naam">Naam:</label>
        <input type="text" class="form-control" id="lid_naam" name="lid_naam" value="">
      </div>
      <div class="voornaam">
        <label for="lid_voornaam">Voornaam:</label>
        <input type="text" class="form-control" id="lid_voornaam" name="lid_voornaam" value="">
      </div>
      <div class="geboortedatum">
        <label for="lid_geboortedatum">Geboortedatum:</label>
        <input type="date" class="form-control" id="lid_geboortedatum" name="lid_geboortedatum" value="">
      </div>
      <div class="straat">
        <label for="lid_straat">Straat:</label>
        <input type="text" class="form-control" id="lid_straat" name="lid_straat" value="">
      </div>
      <div class="huisnr">
        <label for="lid_huisnr">Huisnr.:</label>
        <input type="text" class="form-control" id="lid_huisnr" name="lid_huisnr" value="">
      </div>
      <div class="login">
        <label for="lid_login">E-mail:</label>
        <input type="text" class="form-control" id="lid_login" name="lid_login" value="">
      </div>
      <div class="password">
        <label for="lid_password">Paswoord:</label>
        <input type="password" class="form-control" id="lid_password" name="lid_password" value="">
      </div>
      <div class="bevestigen">
        <input name="registerbutton" type="submit" value="Bevestigen">
      </div>

  </form>
</main>
