
<header style='background: url(img/@@img_url@@.jpg) center;
               background-size: cover;'>
    <ul class="list-unstyled">
        <li><h1>@@grl_fullname@@</h1></li>
        <li>
            <p>@@grl_uitlegkort@@</p>
            <a href="login.php">Inschrijven</a>
        </li>
    </ul>
</header>
<main>
    <div style="background: url(img/@@img_url@@.jpg);
                  background-size: cover;
                  background-position: center;">
    </div>
    <div>
        @@grl_box1@@
    </div>
    <div>
        @@grl_quote@@
    </div>
    <div style="background: url(img/@@img_url@@.jpg);
                  background-size: cover;
                  background-position: center;">
    </div>
    <div style="background: url(img/@@img_url@@.jpg);
                  background-size: cover;
                  background-position: center;">
    </div>
    <div style="background: url(img/@@img_url@@.jpg);
                  background-size: cover;
                  background-position: center;">
    </div>
</main>
<footer>
    <ul class="list-unstyled">
        <li>info@movenergy.be</li>
        <li>03/322.62.77</li>
        <li>privacy statement - privacy voorkeuren</li>
    </ul>
</footer>