
<header style='background: url(img/@@img_foto1@@.jpg) center;
               background-size: cover;'>
    <ul class="list-unstyled">
        <li><h1>@@grl_fullname@@</h1></li>
        <li>
            <p>@@grl_uitlegkort@@</p>
            <a href="login.php">Inschrijven</a>
        </li>
    </ul>
</header>
<main>
    <div style="background: url(img/@@img_foto2@@.jpg);
                  background-size: cover;
                  background-position: center;">
    </div>
    <div>
        @@grl_box1@@
    </div>
    <div>
        @@grl_quote@@
    </div>
    <div style="background: url(img/@@img_foto3@@.jpg);
                  background-size: cover;
                  background-position: center;">
    </div>
    <div style="background: url(img/@@img_foto4@@.jpg);
                  background-size: cover;
                  background-position: center;">
    </div>
    <div style="background: url(img/@@img_foto5@@.jpg);
                  background-size: cover;
                  background-position: center;">
    </div>
</main>
